.view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
}

.cell {
  display: flex;
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 8px;
}

input {
  width: 40px;
  height: 40px;
  border: 1px solid #df0d11;
  border-radius: 8px;
}

.btn {
  margin-top: 8px;
  border: 1px solid #df0d11;
  border-radius: 20px;
  color: #df0d11;
  background-color: white;
  width: 200px;
  padding: 8px;
  font-size: 20px;
}

.btn:hover {
  background-color: #df0d11;
  color: white;
  cursor: pointer;
}

.btn:disabled {
  background-color: #373a3c;
  color: white;
  cursor: not-allowed;
  border-color: white;
}

.header {
  font-size: 30px;
  text-align: center;
  color: #373a3c;
  margin: 4px 0 16px 0;
}